*,*::after, *::before {
   box-sizing: border-box;
}

[class^='grid-col-']{
	float: left;
	margin: 1em 0 1em 0;
}

.grid-col-main{
	width:80%;
}

.grid-col-1of2{
	width:50%;
	padding:0 1.5em 0 1.5em;
}
.grid-col-1of3{
	width:33%;
	padding:0 1.5em 0 1.5em;
}

.grid-col-1of4{
	width:25%;
	/*padding:0 1.5em 0 1.5em;*/
	text-align: center;
}

.grid-col-1of5{
	width:20%;
	/*padding:0 1.5em 0 1.5em;*/
	text-align: center;

}


.grid-icon{
	width:10%;
	float: left;
}

.grid-row{
	width: 100%;
	display: block;
}

.grid-row::after{
	content:"";
    display: block;
    clear: both;
    border-bottom: 1px solid rgb(200,200,200);
}

@media(max-width:48rem){

	.grid-col-1of2{
		width: 100%;
	}

	.grid-col-1of3{
		width: 100%;
	}
	.grid-col-1of4{
		width:100%;
	}
	.grid-col-1of5{
		width:50%;
	}
	
}